body{
    margin: 0;
    background-color:#F4F4F4;
    text-align: center;
}

/*#body{
    background-color: #F4F4F4;
    width: 560px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}*/

#hero{
    color: white;
    background-color: #6943FF;
    display:inline-block;
    text-align: center;
    padding: 30px;
    height: 285px;
    width: 96%;
    padding-bottom: 5px;
}

#input-el{
    box-sizing: border-box;
    width: 117px;
    height: 83px;
    border: 2px solid #B295FF;
    border-radius: 5px;
    background: #B295FF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

#btn-container{
    margin-top: 20px;
    padding-bottom: 5px;
}

#convert-btn{
    width: 117px;
    height: 42px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    border: #FFFFFF;
    cursor: pointer;
}

h1{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 28px;
    height: 51px;
}

#length-converter{
    background-color: #FFFFFF;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

#mass-converter{
    background-color: #FFFFFF;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

#volume-converter{
    background-color: #FFFFFF;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

h3{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #5A537B;
}

p{
    font-family: 'Inter', sans-serif;
    color: #353535;;
}